<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--      layout:decorate="~{layouts/layout2}">-->

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <style>
        body {
            background-color: lightblue;
        }
        .error {
            color: #bd2130;
        }
    </style>
</head>

<!--<div layout:fragment="content">-->
<body>
<div id="loginPageHtml">
    <form action="/login" role="form" method="post">
        <h2>로그인</h2>

        <table>
            <tr>
                <td>아이디</td>
                <td><input type="text" name="userId" placeholder="ID" id="userId"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" name="password" placeholder="PASSWORD" id="password"></td>
            </tr>
            <tr th:if="${loginErrorMsg}">
                <td th:if="${loginErrorMsg}" colspan="2">
                    <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
                </td>
            </tr>
        </table>

        <div id="loginBtns">
            <button>로그인</button>
            <button type="button" onClick="location.href='/login/register'">회원가입</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </div>
    </form>
</div>
</body>
<!--</div>-->
</html>